.cards{
    width:100%;
    display: flex;
    flex-wrap: no-wrap;
}

h1{
    font-size: 45px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .cards{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
}