.skill-card{
    margin:9px;
    width:auto;
    height:auto;
    box-shadow: 0px 1px 3px black;
    border-radius: 10px;
    transition: all 0.4s;
    padding: 10px;
}

.skill-name{
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.skill-card:hover{
    background-color: beige;
    transform: scale(1.1);
    box-shadow: 0 0 40px black;
}